@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  height: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-header {
  height: 80px;
}

.logo-header img {
  height: 100%;
}

.menu-header {
  height: 100%;
  font-size: 14px;
}

.menu-header ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  height: 100%;
}

.menu-header ul li {
  height: 100%;
  padding: 0 13px 0 13px;
}

.menu-header ul li a {
  padding: 0 3px 0 3px;
  text-decoration: none;
  color: #1C1C1C;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.menu-header ul li a:hover {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

.jumbotron {
  min-height: 430px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap-black {
  background-color: #1C1C1C;
}

.container-w-b,
.container-b-b {
  height: 100%;
  position: relative;
  display: block;
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

.title-section {
  background-color: #0282F9;
  color: #fff;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  font-size: 12px;
}

.wrap-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 40px;
}

.wrap-card .card {
  width: 200px;
  margin: 0px 13px 20px 13px;
  color: #fff;
  cursor: pointer;
}

.wrap-card .card .img-wrap {
  height: 100%;
  max-height: 200px;
}

.wrap-card .card .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}

.wrap-card .card h3 {
  font-size: 13px;
  padding-top: 17px;
  text-transform: uppercase;
}

.load-btn {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.load-btn a {
  background-color: #0282F9;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 50px;
  margin-bottom: 20px;
  display: inline-block;
}

.wrap-blue {
  background-color: #0282F9;
  height: 170px;
}

.main-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-bottom ul {
  display: flex;
  justify-content: center;
}

.main-bottom ul li {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 30px 0 30px;
}

.main-bottom ul li .li-img {
  height: 100%;
}

.main-bottom ul li .li-img img {
  height: 100%;
}

.main-bottom ul li a {
  text-decoration: none;
  margin-left: 15px;
  text-transform: uppercase;
  color: #fff;
}

.footer-wrap {
  height: 400px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-size: cover;
  display: flex;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SEZIONE DI SINISTRA CON MENU */

.left {
  display: flex;
  width: 50%;
}

.left ul {
  margin-right: 25px;
}

.left ul h4 {
  color: #fff;
  text-transform: uppercase;
  padding: 15px 0 15px 0;
  font-size: 18px;
}

.left ul li {
  padding-bottom: 4px;
  list-style: none;
}

.left ul li a {
  text-decoration: none;
  color: #787878;
  font-size: 13px;
}

.left ul li a:hover {
  color: #0282F9;
}

.right {
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 50%;
}

.footer-bar {
  height: 100px;
  background-color: #303030;
}

.footer-bar .signup-foot {
  text-transform: uppercase;
}

.footer-bar .signup-foot a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #0282F9;
  transition: background-color 0.3s;
}

.footer-bar .signup-foot a:hover {
  background-color: #0282F9;
}

.footer-bar .social-group {
  display: flex;
  align-items: center;
}

.footer-bar .social-group h3 {
  text-transform: uppercase;
  color: #0282F9;
  margin-right: 18px;
}

.footer-bar .social-group ul {
  display: flex;
  list-style: none;
}

.footer-bar .social-group ul li {
  margin: 0 9px 0 9px;
}

.footer-bar .social-group ul a {
  font-size: 22px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #303030;
}

.container-article {
  width: 50%;
  margin: 0 auto;
}

.blue-row {
  height: 100px;
  background-color: #0282F9;
}

.article-thumb {
  position: absolute;
  bottom: 115px;
  border: 1px solid #fff;
  cursor: pointer;
}

.res-flex {
  display: flex;
}

.comic-info {
  height: 100%;
  width: 70%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.comic-info .art-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #003f5e;
}

.comic-info .availability {
  background-color: #55BA59;
  display: flex;
  font-size: 0.8em;
  border-bottom: 1px solid #357739;
}

.comic-info .availability .price-status {
  width: 55%;
  display: flex;
  color: #bafd9c;
  padding: 15px 20px;
}

.comic-info .availability .price-status .price-comic {
  color: #fff;
  padding-left: 5px;
}

.comic-info .availability .check-av {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comic-info .availability .check-av .status-av {
  border-right: 1px solid #357739;
  text-transform: uppercase;
  height: 100%;
  padding: 15px 20px;
  color: #bafd9c;
}

.comic-info .availability .check-av .check-link {
  text-decoration: none;
  color: #fff;
  padding: 15px 20px;
}

.comic-info .comic-txt-info {
  color: #555555;
  margin-top: 20px;
  line-height: 22px;
  font-size: 0.9em;
}

.adv-col {
  padding-top: 70px;
  padding-left: 35px;
}

.adv-col .adv-title {
  text-align: right;
  font-size: 0.75em;
  color: #555555;
  margin-bottom: 5px;
}

.wrap-grey {
  background-color: #f6f6f6;
  height: 500px;
  border-top: 1px solid #d6d6d6;
}

.comic-info-cols {
  width: 50%;
  color: #003f5e;
  font-size: 0.85em;
  padding-top: 30px;
}

.comic-info-cols .com-title {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 35px;
}

.comic-info-cols .data-comics-row {
  padding: 12px 0;
  display: flex;
  border-bottom: 1px solid #d6d6d6;
}

.comic-info-cols .data-comics-row .label-com {
  width: 30%;
}

.comic-info-cols .data-comics-row .artist-section,
.comic-info-cols .data-comics-row .specs-data-sect {
  width: 70%;
}

.comic-info-cols .data-comics-row .artist-section a,
.comic-info-cols .data-comics-row .specs-data-sect a {
  text-decoration: none;
  color: #0282F9;
}

.specs-col {
  padding-left: 60px;
}

