.container-article {
  width: 50%;
  margin: 0 auto;
}

.blue-row {
  height: 100px;
  background-color: $blue-color;
  position: relative;
}

.article-thumb {
  position: absolute;
  bottom: 215px;
  border: 1px solid #fff;
  cursor: pointer;
}

.res-flex {
  display: flex;
}

.comic-info {
  height: 100%;
  width: 70%;
  padding-top: 70px;
  padding-bottom: 70px;

  .art-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #003f5e;
  }

  .availability {
    background-color: #55BA59;
    display: flex;
    font-size: 0.8em;
    border-bottom: 1px solid #357739;

    .price-status {
      width: 55%;
      display: flex;
      color: #bafd9c;
      padding: 15px 20px;

      .price-comic {
        color: #fff;
        padding-left: 5px;
      }
    }

    .check-av {
      width: 45%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .status-av {
        border-right: 1px solid #357739;
        text-transform: uppercase;
        height: 100%;
        padding: 15px 20px;
        color: #bafd9c;
      }

      .check-link {
        text-decoration: none;
        color: #fff;
        padding: 15px 20px;
      }
    }
  }

  .comic-txt-info {
    color: #555555;
    margin-top: 20px;
    line-height: 22px;
    font-size: 0.9em;
  }

}

.adv-col {
  padding-top: 70px;
  padding-left: 35px;

  .adv-title {
    text-align: right;
    font-size: 0.75em;
    color: #555555;
    margin-bottom: 5px;
  }
}

.wrap-grey {
  background-color: #f6f6f6;
  height: 500px;
  border-top: 1px solid #d6d6d6;
}

.comic-info-cols {
  width: 50%;
  color: #003f5e;
  font-size: 0.85em;
  padding-top: 30px;

  .com-title {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 35px;
  }

  .data-comics-row {
    padding: 12px 0;
    display: flex;
    border-bottom: 1px solid #d6d6d6;

    .label-com {
      width: 30%;
    }
    .artist-section, .specs-data-sect {
      width: 70%;
      a {
        text-decoration: none;
        color: $blue-color;
      }
    }
  }
}

.specs-col {
  padding-left: 60px;
}